@if (VisualNode.InputNodePins.Count == 1)
{
    if (VisualNode.InputNodePins[0].Showed)
    {
        <img id="@VisualNode.InputNodePins[0].ElementId" src="/image/inputnode.png" class="input" @onclick="@(args => OnNodePinClick(args, VisualNode, 0))">
    }
}

else if (VisualNode.InputNodePins.Count > 1)
{
    for (int i = 0; i < VisualNode.InputNodePins.Count; i++)
    {

        int index = i;
        if (VisualNode.InputNodePins[index].Showed)
        {
            <div class="node" style="text-align: left">

                <img id="@VisualNode.InputNodePins[index].ElementId" src="/image/inputnode.png" class="input" @onclick="@(args => OnNodePinClick(args, VisualNode, index))">
                <label style="font-size: 12px; color: #fff;">Input @index</label>
            </div>
        }
    }
}


@code {
    [Parameter]
    public VisualNode VisualNode { get; set; }
    [Parameter]
    public Action<MouseEventArgs, VisualNode, int> OnNodePinClick { get; set; }
}
