@if (_currentMainNode != null)
{
    <div class="main-node" @onmousemove="DrawMainLine" @ondblclick="StopDrawingMainLine">
        <div class="main-node-header">
            <div class="dropdown">
                <div class="main-node-header-element" @onclick="() => _mainDropDownShowed = !_mainDropDownShowed">
                    <span class="iconify iconify-main" data-icon="mdi:menu" data-inline="false"></span>
                </div>
                <div class="dropdown-content" style="@(_mainDropDownShowed ? "display: block;" : "display: none;")">
                    <div class="dropdown-content-element" @onclick="CreateNewNode">
                        Add Empty Node
                    </div>
                    <div class="dropdown-content-element" @onclick="@(() => CreateNewNode(new MathNode() { Name = "Math Node"}))">
                        Add Math Node
                    </div>
                    <div class="dropdown-content-element" @onclick="@(() => CreateNewNode(new NumberNode() { Name = "Number Node"}))">
                        Add Number Node
                    </div>
                </div>
            </div>
            <div class="main-node-header-element" style="display: @(_currentMainNode == MainNode ? "none" : "block")" @onclick="() => { _currentMainNode = _currentMainNode.Holder ?? MainNode; UpdateLines(); }">
                <span class="iconify iconify-main" data-icon="mdi:arrow-left" data-inline="false"></span>
            </div>
            <div class="main-node-header-element main-node-header-text">@_currentMainNode.Name</div>
            @if (CloseButtonShowed)
            {
                <div class="main-node-header-element" @onclick="() => OnCloseButtonClicked?.Invoke()">
                    <span class="iconify iconify-main" data-icon="mdi:close" data-inline="false"></span>
                </div>
            }
        </div>

        @foreach (var connection in _allConnections)
        {
            <svg x="0" y="0" width="100%" height="100%" style="position: absolute; top: 0; left: 0; z-index: 0;">
                <defs>
                    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                        <stop offset="0%" style="stop-color: green; stop-opacity: 1" />
                        <stop offset="100%" style="stop-color: red; stop-opacity: 1" />
                    </linearGradient>
                </defs>
                <path id="@($"{connection.FromPin.OutputElementId}+{connection.ToPin.InputElementId}")" class="node-line" fill="none" stroke="url(#grad1)" stroke-width="8" d="M 0, 0" />
            </svg>
        }

        <svg id="main-node-line" x="0" y="0" width="100%" height="100%" style="position: absolute; top: 0; left: 0; z-index: 0;">
            <defs>
                <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="0%" style="stop-color: green; stop-opacity: 1" />
                    <stop offset="100%" style="stop-color: red; stop-opacity: 1" />
                </linearGradient>
            </defs>
            <path fill="none" stroke="url(#grad1)" stroke-width="3" d="@_mainLine.Curve" />
        </svg>

        <DraggableZone Height="100%" Width="100%">
            @foreach (var visualNode in _currentMainNode.InternalVisualNodes)
            {
                <DraggableWindow @key="visualNode" X="@visualNode.Position.X" Y="@visualNode.Position.Y" AllowDrag="true" OnDragingWindow="@((w) => OnNodeDragging(w, visualNode))">
                    <WindowHeader>
                        <div class="node-window-header">
                            @if (visualNode.Editable)
                            {
                                <div class="dropdown">
                                    <div class="node-window-header-element" @onclick="() => visualNode.MenuShowed = !visualNode.MenuShowed">
                                        <span class="iconify iconify-small" data-icon="mdi:menu" data-inline="false"></span>
                                    </div>
                                    <div class="dropdown-content" style="@(visualNode.MenuShowed ? "display: block;" : "display: none;")">
                                        <div class="dropdown-content-element" @onclick="(() => EditNode(visualNode))">
                                            Edit Node
                                        </div>
                                        <div class="dropdown-content-element" @onclick="@(() => visualNode.AddInputNodePin(typeof(double)))">
                                            Add Input
                                        </div>
                                        <div class="dropdown-content-element" @onclick="@(() => visualNode.AddOutputNodePin(typeof(double)))">
                                            Add Output
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="node-window-header-element node-window-header-text">@visualNode.Name (@visualNode.Position.X, @visualNode.Position.Y)</div>
                            <div class="node-window-header-element" @onclick="@(() => CloseWindow(visualNode))">
                                <span class="iconify iconify-small" data-icon="mdi:close" data-inline="false"></span>
                            </div>
                        </div>
                    </WindowHeader>
                    <WindowContent>
                        <div class="node-window">
                            <NodeComponent VisualNode="@visualNode" OnNodePinSelect="@((a, n) => OnNodePinSelect(a, n))" OnNodePinConnect="@((a, n) => OnNodePinConnect(a, n))" />
                        </div>
                    </WindowContent>
                </DraggableWindow>
            }
        </DraggableZone>
    </div>
}

@code {
    private bool _mainDropDownShowed = false;

    [Parameter]
    public VisualNode MainNode { get; set; }
    [Parameter]
    public bool CloseButtonShowed { get; set; }
    [Parameter]
    public Action OnCloseButtonClicked { get; set; }

    private bool _isEditor = false;

    private VisualNode _currentMainNode;

    private VisualNodePin _selectedNodePin;

    private List<NodePinConnection> _allConnections = new List<NodePinConnection>();

    private Line _mainLine = new Line();
    private bool _isMainLineDrawing = false;

    protected override void OnInitialized()
    {
        _currentMainNode = MainNode;
    }

    private void OnNodePinSelect(MouseEventArgs args, VisualNodePin visualNodePin)
    {
        _mainLine.From = new Position() { X = args.ClientX, Y = args.ClientY };

        _isMainLineDrawing = true;

        _selectedNodePin = visualNodePin;
    }

    private void OnNodePinConnect(MouseEventArgs args, VisualNodePin visualNodePin)
    {
        StopDrawingMainLine(args);

        visualNodePin.ConnectToNodePin(_selectedNodePin);

        UpdateLines();
    }

    private void DrawMainLine(MouseEventArgs args)
    {
        if (_isMainLineDrawing)
        {
            _mainLine.To = new Position() { X = args.ClientX, Y = args.ClientY };
        }
    }

    private void StopDrawingMainLine(MouseEventArgs args)
    {
        if (_isMainLineDrawing)
        {
            _isMainLineDrawing = false;
            _mainLine = new Line();
        }
    }

    private void UpdateLines()
    {
        _allConnections.Clear();
        foreach (var visualNode in _currentMainNode.InternalVisualNodes)
        {
            _allConnections.AddRange(visualNode.IncomingConnections);
        }

        StateHasChanged();
    }

    private void CreateNewNode()
    {
        _currentMainNode.AddNode(new VisualNode(_currentMainNode));
        _mainDropDownShowed = false;
    }

    private void CreateNewNode(Node node)
    {
        _currentMainNode.AddNode(new VisualNode(node, _currentMainNode));
        _mainDropDownShowed = false;
    }

    private void CloseWindow(VisualNode window)
    {
        _currentMainNode.RemoveNode(window);

        UpdateLines();
    }

    private void EditNode(VisualNode nodeHolder)
    {
        nodeHolder.MenuShowed = false;
        _isEditor = true;
        _currentMainNode = nodeHolder;
        UpdateLines();
    }

    private void OnNodeDragging(DraggableWindow nodeWindow, VisualNode node)
    {
        node.Position.X = nodeWindow.PositionX;
        node.Position.Y = nodeWindow.PositionY;

        UpdateLines();
    }
}
